<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a User</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
    <%= JSON.stringify(userEdit) %>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/hoidanit">hoidanit</a>
            <a class="active" href="/create">Create User</a>
            <a href="#about">About</a>
        </div>

        <form action="/update-user" method="POST">
            <fieldset>
                <legend>Update a user</legend>
                <div class="input-group d-none">
                    <label for="Id">Id: </label>
                    <input type="text" name="id" id="Id" value="<%= userEdit.id%>"><br>
                </div>
                <div class="input-group">
                    <label for="email">Email: </label>
                    <input type="text" name="email" id="email" value="<%= userEdit.email%>"><br>
                </div>
                <div class="input-group">
                    <label for="myName">Name: </label>
                    <input type="text" name="myName" id="myName" value="<%= userEdit.name%>"><br>
                </div>
                <div class="input-group">
                    <label for="city">City: </label>
                    <input type="text" name="city" id="city" value="<%= userEdit.city%>"><br>
                </div>
                <input type="submit" id="submit">
            </fieldset>
        </form>
</body>

</html>